body {
  font-family: Urbanist, sans-serif;
  background-color: #dbe4ee !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Antic Didone, sans-serif;
  font-weight: 600;
  color: #054a91;
}

p {
  font-family: Urbanist, sans-serif;
  font-weight: 400;
  color: #054a91;
}

a {
  color: #222;
  text-decoration: none;
  transition: all 0.4s ease;
}

a:hover {
  color: #f17300;
}

/* navbar */
.nav-link:hover {
  color: #f17300;
}
.nav-link.active {
  color: #f17300;
}
.navbar {
  font-family: Antic Didone, sans-serif;
  font-weight: 400;
  color: #054a91;
}

/* shadow */
.shadow-on-hover {
  transition: all 0.4s ease;
}
.shadow-on-hover:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* btn */
.btn {
  padding: 14px 38px;
  border-radius: 0;
  font-family: Antic Didone, sans-serif;
  font-weight: 400;
  color: #054a91;
}

.btn-brand {
  background-color: #f17300;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.btn-brand:hover {
  background-color: #fff2e7;
  border-color: #f17300;
  color: #f17300;
}

/* Hero section */
.slide-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), #0000002d),
    url(../assets/imgs/hero1.jpg);
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), #0000002d),
    url(../assets/imgs/hero2.jpg);
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: 60px 0;
}
.col-lg-5 {
  padding: 50px;
}

#about .divider {
  width: 60px;
  height: 2px;
  background-color: #f17300;
  display: block;
}

/* intro-text */
.intro-text {
  margin-bottom: 40px;
  text-align: center;
}
.intro-text p {
  max-width: 500px;
  margin: 16px auto 0 auto;
}

/* about-homepage section */
#about-homepage {
  background-color: #dbe4ee;
}
/* gallery section */
#gallery-homepage .nav-pills .nav-link {
  background-color: #fff;
  margin-left: 8px;
  margin-right: 8px;
  color: #f17300;
  font-family: Antic Didone, sans-serif;
  font-weight: 400;
  color: #054a91;
}
#gallery-homepage .nav-pills .nav-link.active {
  background-color: #f17300;
  color: #fff;
}

.menu-item-content {
  padding: 20px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}

/* reviews section */
#reviews {
  background: linear-gradient(rgba(0, 0, 0, 0.5), #0000002d),
    url(../assets/imgs/client.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#reviews .intro-text {
  color: #fff;
}
#reviews .intro-text h1 {
  color: #fff;
}
#reviews .intro-text p {
  color: #fff;
}

/* contact section */
#contact .form-control {
  border-radius: 0;
  border: 1px solid #81a4cd;
  padding: 10px;
}
#contact .form-control:focus {
  border: 1px solid #f17300;
  box-shadow: none;
  border-radius: 0;
}
#contact .form-label {
  color: #054a91;
}
/* Portfolio section */
/* Container 1 */
.portfolio-container-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), #0000002d),
    url(../assets/imgs/portfolio1.jpg);
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container 2 */
.port-cont-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), #0000002d),
    url(../assets/imgs/portfolio2.jpg);
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Portfolio Gallery Effects */
.image-wrapper {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.hover-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.image-wrapper:hover .hover-caption {
  transform: translateY(0);
}

/* card game style*/

.card-container {
  margin-top: 20px;
}

.card-flip {
  width: 120px;
  height: 160px;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-flip.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.card-back {
  transform: rotateY(180deg);
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 14px;
}
